@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    
    <div class="login-wrap">
        <h2>RSBrasil</h2>

        <div class="form">
            <input type="text" id="txtUsuario" placeholder="Usuário" />

            <input type="password" id="txtSenha" placeholder="Senha" />
            <button class="btn" onclick="Logar()"> Logar </button>
        </div>
    </div>
</div>

@*@section Scripts
{
    <script src="~/js/pages/login.js"></script>
    <script src="~/js/sweetalert2/sweetalert2.min.js"></script>
}*@

@section Scripts {

    <script type="text/javascript">
        

    </script>

}
