@model RSBrasil.Model.DTOs.TipoDocumentosDTO

@{
    ViewData["Title"] = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Histório</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hisórico de faltas
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form asp-action="Novo">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Descricao" class="control-label"></label>
                                    <input asp-for="Descricao" class="form-control" />
                                    <span asp-validation-for="Descricao" class="text-danger"></span>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                @*<button type="reset" class="btn btn-default">Reset Button</button>*@
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->